.cont-done{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.421);
    border-radius: 15px;
    justify-content: space-around;
    width: 250px;
    font-size: 20px;
    margin:10px 0 0 500px;
    height: 50px;
    align-items: center;

}

.input{
    margin: 50px 0 0 500px;
    width: 200px;
    height: 30px;
}

.but{
    width: 100px;
    height: 35px;
    margin-left: 10px;
}